*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

:root{
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

body{
    background: #eee;
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    padding: 1rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
}

.heading span{
    background: rgb(255, 221, 0);
    color: #e349eb;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover{
    background: black;
    color: #fff;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 3.5rem;
    font-weight: bolder;
    background: linear-gradient(rgb(244, 19, 169),#ff7800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header .navbar a{
    position: relative;
    font-size: 1.5rem;
    margin: 2rem;
    font-weight:500;
    color: var(--black);
}

.header .navbar a::after{
    content: "";
    position: absolute;
    background-color: rgb(246, 42, 181);
    height: 3.5px;
    width: 0%;
    left: 0;
    bottom: -25px;
    transition: 0.1s;
}

.header .navbar a:hover::after{
    width: 100%; 
}

.header .navbar #men:hover::after{
    background-color:rgb(246, 42, 181);
}

.header .navbar #women:hover::after{
    background-color:rgb(17, 247, 166);
}

.header .navbar #kids:hover::after{
    background-color:rgb(3, 249, 249);
}

.header .navbar #beauty:hover::after{
    background-color:rgb(247, 101, 17);
}

.header .navbar #homeandliving:hover::after{
    background-color:rgb(209, 17, 247);
}

.header .icons div{
    position: relative;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    color: var(--black);
    font-size: 2rem;
    margin-right: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div::after{
    content: "";
    position: absolute;
    background-color: rgb(246, 42, 181);
    height: 3.5px;
    width: 0%;
    left: 0;
    bottom: -15px;
    transition: 0.1s;
}

.header .icons div:hover::after{
    width: 100%;
}

.header .icons #login-btn:hover::after{
    background-color: #3cff00;
}

.header .icons #login-btn:hover{
    color:#03fbd6;
}

.header .icons #wishlist-btn:hover::after{
    background-color: #2e3cff;
}

.header .icons #wishlist-btn:hover{
    color:#ff006f;
}

.header .icons #cart-btn:hover::after{
    background-color: #dd00ff;
}

.header .icons #cart-btn:hover{
    color:#f68d03;
}

.header .search-form{
    width: 50rem;
    height: 4rem;
    background: #fff;
    border: solid rgb(206, 204, 204) 0.1px;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.3rem;
    color: var(--black);
    padding: 0 1.5rem;
}

.header .search-form label{
    font-size: 1.5rem;
    padding-right: 1.5rem;
    color: rgb(174, 173, 173);
    cursor: pointer;
}

.banner{
    margin-top: 6rem;
    background: #fff;
}

.banner .banner-img{
    width: 120rem;
    height: 40rem;
    cursor: pointer;
}

.card-section .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,2fr));
    gap: 0.5rem;
}

.card-section .box-container .box{
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.card-section .box-container .box img{
    margin: 1rem 0;
    height: 25rem;
    cursor: pointer;
}

.card-section .box-container .box img:hover{
    height: 27rem;
}

.budget-buys .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,2fr));
    gap: 0.5rem;
}

.budget-buys .box-container .box{
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.budget-buys .box-container .box img{
    margin: 1rem 0;
    height: 15rem;
    cursor: pointer;
}

